#body-content{
    background-image: url("../../static/css/img1.jpeg");
    width: 100vw;
    height: 70vh;
    background-size: cover;
}
#uname{
    font-size: 20px;
    color: black;
}
.content{
    background-color: black;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0.6;
    color: white;
}