@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Timmana');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
#body-content{
    background-image: url("../../static/css/img1.jpeg");
    width: 100vw;
    height: 70vh;
    background-size: cover;
}
#uname{
    font-size: 20px;
    color: grey;
    margin-bottom: 60px;
}
.content{
    background-color: black;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0.6;
    color: white;
}
.sub-title{
font-family: 'Roboto Condensed', sans-serif;
}
#icon{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
#search{
    margin-right: 50%;
    margin-left: 50%;
    width: 300px;
}